.xans-mall-privacy .date {display:block;margin:0 0 20px;font-size:16px;color:var(--idio-font-color);}
.xans-mall-privacy .btnDate {font-size:13px;line-height:20px;color:var(--idio-font-color);text-decoration:underline;}