.xans-layout-boardinfo {margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid var(--idio-e8-color);}
.xans-layout-boardinfo h2 {height:20px;color:var(--idio-font-color);font-size:12px;}
.xans-layout-boardinfo li {padding:9px;}
.xans-layout-boardinfo li img {vertical-align:middle;}
.xans-layout-boardinfo a {color:var(--idio-font-color);text-decoration:none;}
.xans-layout-boardinfo a:hover {color:var(--idio-font-color);}