.xans-layout-searchside {margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid var(--idio-e8-color);}
.xans-layout-searchside h2 {height:20px;color:var(--idio-font-color);font-size:12px;}
.xans-layout-searchside fieldset {border:1px solid var(--idio-e8-color);border-radius:2px;}
.xans-layout-searchside #keyword {width:133px;height:32px;padding:0 0 0 9px;border:0;line-height:32px;font-size:12px;color:var(--idio-font-color);background-color:var(--idio-bg-color);}

.xans-layout-searchside .bestKeyword {margin:7px 0;font-size:11px;line-height:18px;}
.xans-layout-searchside .bestKeyword a {color:#757575;text-decoration:none;}
.xans-layout-searchside .bestKeyword a:hover {color:var(--idio-font-color);}
.xans-layout-searchside .bestKeyword a:after {content:", "}

.xans-layout-searchside p.button {margin:10px 0 0;}
.xans-layout-searchside p.button a {margin:0 0 0 4px;}

.xans-layout-searchside fieldset .autoDrop {display:none;border:1px solid #565960;width:175px;position:absolute;text-align:left;background-color:var(--idio-bg-color);overflow:hidden;overflow-y:auto;max-height:100px;}
.xans-layout-searchside fieldset .autoDrop li a {display:block;padding:6px 10px;font-size:11px;color:#1c1c1c;font-family:GulimChe,Gulim;}
.xans-layout-searchside fieldset .autoDrop li a:hover,
.xans-layout-searchside fieldset .autoDrop li.selected a {text-decoration:none;color:#fff;background:#a1a4ae;}