.xans-product-normalmenu { border-top:1px solid #e0e0e0; }
.xans-product-normalmenu .function { overflow:hidden; text-align:right; line-height:38px; }
.xans-product-normalmenu .function .btnCompare { display:inline-block; padding:0 12px; border-left:1px solid #d7d5d5; }
.xans-product-normalmenu .function .btnCompare:hover { text-decoration:none; }
.xans-product-normalmenu .prdCount { float:left; color:#7d7d7d; }
.xans-product-normalmenu .prdCount strong { margin-left:8px; }
.xans-product-normalmenu fieldset { margin:20px 0 0; padding:10px 16px; text-align:right; background:#fbf9fa; }


/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-product-normalmenu {padding: 20px 16px 0;}
    .xans-product-normalpackage .product_area {margin: 0 16px;}
}
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-product-normalmenu { margin:40px 0 0; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width: 1024px){
    .xans-product-normalmenu { padding:20px 24px 0; }
    .xans-product-normalpackage .product_area { margin:0 24px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-normalmenu { margin:50px 0 0; padding:40px 0 0; }
}


/** 아키테이블_style 210903 **/

/* 분류페이지 뒤로가기 */
.xans-layout-mobileaction.RTMB {display: none !important;}

/* 목록페이지 */
.normalpackage_box {margin-bottom:120px;}
.xans-product-normalmenu {border-top:0;padding:0;margin:0;}
.xans-product-normalpackage {margin:0 auto;padding:0;}
.product_top_image {max-width:1480px !important;width:92%;margin:0 auto;padding:20px 0;text-align:center;}
.xans-product-headcategory.titleArea.section {max-width:1480px !important;width:92%;margin:0 auto;padding:45px 0 30px;}
#shoppQbtn {margin-top:40px;}
.listpage_title {margin:0 0 50px;}
.listpage_title div {position:relative;margin:0;padding-top:20px;font-size:30px;font-weight:500;line-height:1;color:#000;letter-spacing:-0.001em;}
.listpage_title div:after {content:"";position:absolute;top:0;left:0;width:20px;height:2px;background:#d0ac88;}
.listpage_title span {display:block;font-size:14px;font-weight:300;line-height:1;color:#888;margin-top:12px;}
.listpage_title.ez-align-left {text-align:left;}
.listpage_title.ez-align-center {text-align:center;}
.listpage_title.ez-align-center div:after {left:0;right:0;margin:0 auto;}
.listpage_title.ez-align-right {text-align:right;}
.listpage_title.ez-align-right div:after {left:auto;right:0;}

/* 상품분류 추천상품 */
.xans-product-listrecommend {padding:0;margin:0 auto !important;}
.xans-product-listrecommend .prdList .thumbnail .likeButton {display:none !important;}

/* 상품분류 신상품 */
.xans-product-listnew {padding:0;margin:0 auto !important;}
.xans-product-listnew .prdList .thumbnail .likeButton {display:none !important;}

@media all and (max-width:1480px) {
	/* 목록 타이틀 */
	.listpage_title {margin-bottom:30px !important;}
	.listpage_title div {font-size:calc(23px + (30 - 23) * ((100vw - 370px) / (1480 - 370)));margin:0;}
	.listpage_title span {font-size:calc(13px + (14 - 13) * ((100vw - 370px) / (1480 - 370)));margin-top:12px;display:block;}
}

@media all and (max-width:1024px) {
	/* 목록페이지 */
	.normalpackage_box {margin-bottom:50px;}
	.product_top_image {width:100%;padding:10px 0;}
	.xans-product-headcategory.titleArea.section {text-align:left !important;padding:40px 0 30px;}
	.xans-product-headcategory.titleArea.section h2 {width:100%;}
	.xans-product-normalpackage {width:92%;margin:0 auto;}

	/* 상품분류 추천상품 */
	.xans-product-listrecommend {width:92%;padding:0 0 50px;}

	/* 상품분류 신상품 */
	.xans-product-listnew {width:92%;padding:0 0 50px;}
}

@media all and (max-width:767px) {
	/* 목록페이지 */
	.xans-product-normalmenu select {height:35px;width:155px;padding:0 30px 0 15px;font-size:13px;border:1px solid #e0e0e0;box-sizing:border-box;outline:none;}
}














