/** form_onetouch_style **/

/* 원터치 주문서 셀렉트박스 화살표 삭제 ie11 - 정환 */
select::-ms-expand {display:none;}
#userStyle #header .titleArea h1 {background-color:#000;}
#userStyle #mCafe24Order .txtEm,
#userStyle #mCafe24Order .txtStrong {color:var(--idio-font-color);}
#userStyle #mCafe24Order .btnSubmit {background-color:#000 !important;border:1px solid #000 !important;}

/*바로결제 수량선택*/
#mCafe24Order .product_detail #totalProducts tbody td .quantity .up {top:0 !important;left:57px !important;}
#mCafe24Order .product_detail #totalProducts tbody td .quantity .down {top:0 !important;left:-2px !important;}
#mCafe24Order .product_detail #totalProducts tbody.option_products tr td .quantity input, #mCafe24Order .product_detail #totalProducts tbody.add_products tr td .quantity input {height:32px !important;line-height:32px !important;}
#mCafe24Order #totalProducts .quantity a:before {left:11px !important;}