/** 아키테이블_style 210907 **/
@charset "utf-8";

html {-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
#wrap {position:relative;width:100%;margin:0 auto;min-height:550px;overflow:hidden;}
body {min-width:100%;padding:0;margin:0;}
#container {width:100%;zoom:1;position:relative;}
#container #contents {float:none;}
.cboth {clear:both;*zoom:1}
.cboth:after {content:" ";display:block;clear:both;}
audio, canvas, img, svg, video {max-width:100%;height:auto;box-sizing:border-box;}
button {border:0;outline:none;}
img {-webkit-perspective:1;}
a:hover {text-decoration:none;}
.display_mobile_only {display:none;}
.display_tablet_only {display:none;}
.display_pc_only {display:block;}
.layer_shadow {position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.3);z-index:10;opacity:0;visibility:hidden;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.layer_shadow.on {opacity:1;visibility:visible;}
.not_scroll {height:100%;min-height:100%;overflow:hidden !important;touch-action:none;}


/********************* Tablet *********************/
@media all and (max-width:1024px) {
    /* responsive class */
	.RW {display:none !important;}
    .RTMB {display:block !important;}
    .RTMI {display:inline-block !important;}
    #capp-shop-new-product-optionselect-layer {position:fixed !important;top:0 !important;right:0 !important;left:auto !important;width:100% !important;height:100% !important;margin:0 !important;}
	
    .xans-layout-mobileaction {position:absolute;top:45px;left:4%;}
    .xans-layout-mobileaction a {overflow:hidden;display:block;text-indent:-150%;color:transparent;font-size:1px;line-height:1px;white-space:nowrap;}

	.display_tablet_only {display:block !important;}
	.display_mobile_only {display:none !important;}
	.display_pc_only {display:none !important;}
}

/********************* Mobile *********************/
@media all and (max-width:767px) {
    /* responsive class */
    .RTB {display:none !important;}
    .RMB {display:block !important;}
    .RMI {display:inline-block !important;}
	.display_mobile_only {display:block !important;}
	.display_pc_only {display:none !important;}
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    /* responsive class */
    .RMB {display:none !important;}
    .RMI {display:none !important;}
    .RTB {display:block !important;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    /* responsive class */
    .RMB {display:none !important;}
    .RMI {display:none !important;}
    .RTB {display:none !important;}
    .RTMI {display:none !important;}
    .RTMB {display:none !important;}
}

/********************* PC *********************/
@media all and (max-width:1553px) {
	#quick {display:none;}
}

.dimmed {display:none;z-index:1000;position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.3);}
#modalBackpanel {display:none;position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%;background:#333;}
#modalContainer {display:none;position:absolute;top:100px;left:100px;z-index:10001;width:975px;height:720px;border:1px solid #333;background:#fff;}
#modalContainer #modalContent {width:100%;height:100%;}