/** subpage_theme01 (button_color - brown) **/

/* 공통 타이틀 */
.xans-project-package .title {margin:45px 0 30px;}
.xans-project-package .title h2 {font-weight:700;font-size:32px;color:var(--idio-font-color);}

/* checkbox */
input[type="checkbox"] {width:24px;height:24px;border:1px solid var(--idio-e8-color);background:url('/SkinImg/img/checkbox_off.svg') no-repeat center;transition:none;}
input[type="checkbox"]:checked {background:url('/SkinImg/img/checkbox_on.svg') no-repeat center;transition:none;border:1px solid var(--idio-e8-color);}

/* ie support */
input[type="checkbox"]::-ms-check {border:1px solid var(--idio-e8-color);background:url('/SkinImg/img/checkbox_off.svg') no-repeat center;transition:none;}
input[type="checkbox"]:checked::-ms-check {background:url('/SkinImg/img/checkbox_on.svg') no-repeat center;transition:none;border:1px solid var(--idio-e8-color);}

/* ec-base-step */
.ec-base-step li {color:#888;}
.ec-base-step .selected {color:var(--idio-font-color);}

/* Table */
.ec-base-table {border-top:2px solid #333;}
.ec-base-table th {font-weight:400;}
.ec-base-paginate.typeList li a {font-size:14px;}

/* tab */
.ec-base-tab.typeNav .menu {border-bottom:1px solid #333;}
.ec-base-tab.typeNav .menu li a {background-color:var(--idio-bg-color);border:0;color:#888;min-width:170px;}
.ec-base-tab.typeNav .menu li.selected a {border:1px solid #333;font-weight:400;}
.ec-base-tab.typeNav .menu li.selected a:after {bottom:-2px;height:2px;}

/* 상품 진열 할인율 */
.sale_box {background-color:#ddd !important;}

/* 이번주의 핫키워드 */
.main_keyword .main_keyword_list .swiper-slide a {font-family:'Noto Sans KR','Sans-serif';}

@media screen and (max-width:1024px) {
	.xans-project-package .title {margin:40px 0;}
	.xans-project-package .title h2 {font-size:19px;margin:0;}

	/* Table */
	.ec-base-table.typeList tr {padding:20px 0 19px;}
	.xans-board-search,
	.xans-myshop-boardlistsearch {margin:10px 0 0px -10px;}
	.xans-board-listpackage .ec-base-button.gBottom {margin:20px 0 0;}

	/* tab */
	.ec-base-tab.typeNav .menu li a {min-width:auto;}
}