.productDetail {margin:0 0 100px;}
.productDetail img {max-width:100% !important;height:auto !important;}

.ec-base-fold .info {color:#6d6d6d;line-height:22px;}
.ec-base-fold .content {padding:0 0 60px;}

/* menu */
.xans-product-additional {padding-bottom:110px;}
.xans-product-additional .ec-base-paginate.typeList {margin-bottom:0;}
.xans-product-additional ul.menu {padding:110px 0 50px;display:flex;justify-content:center;flex-wrap:nowrap;}
.xans-product-additional ul.menu li {padding:0 34px;white-space:nowrap;}
.xans-product-additional ul.menu li a {display:inline-block;position:relative;font-size:13px;line-height:20px;color:var(--idio-font-color);opacity:0.4;}
.xans-product-additional ul.menu li.selected a {opacity:1;font-weight:500;}
.xans-product-additional ul.menu li.selected a:after {display:block;position:absolute;content:'';width:3px;height:3px;border-radius:50%;background-color:var(--idio-font-color);left:0;right:0;top:-7px;margin:auto;}
.xans-product-additional ul.menu li a > span {display:inline-block;font-size:10px;min-width:15px;line-height:15px;padding:0 3px;border-radius:3px;background-color:#333;color:#fff;margin-left:4px;text-align:center;vertical-align:1px;}

#product-review-read .btnNormal,
#product-qna-read .btnNormal {vertical-align:middle;}
#product-review-read,
#product-qna-read,
#product-review-read td,
#product-qna-read td {padding:0;}

.xans-product-additional .brdArea {width:100%;}
.xans-product-additional .brdArea .ec-base-table {position:relative;}
.xans-product-additional .brdArea .ec-base-table table thead {display:none;}
.xans-product-additional .brdArea .ec-base-table table td.subject > img {width:auto;max-height:21px;margin-right:5px;vertical-align:-3px;}
.xans-product-additional .brdArea .ec-base-table table td.subject .badge {font-size:12px;margin-right:4px;}
.xans-product-additional .brdArea .ec-base-table table td.subject .badge > img {height:auto;width:auto;max-height:21px;margin-right:5px;vertical-align:-3px;}
.xans-product-additional .brdArea .ec-base-table table td.subject strong {font-weight:normal;}
.xans-product-additional .brdArea .ec-base-table table td.info {color:#777;}
.xans-product-additional .brdArea .ec-base-table table td.cate {color:#777;}
.xans-product-additional .brdArea .contents > .ec-base-button [class^='btn'] {padding:15px 30px;}
.xans-product-additional .brdArea .gotolist {text-align:right;padding-top:18px;}
.xans-product-additional .brdArea .btn_arr {font-size:13px;line-height:1;padding-right:10px;}
.xans-product-additional .brdArea .btn_arr:after {width:5px;height:5px;top:4px;right:0;}
.xans-product-additional .brdArea .ec-base-paginate.typeList {margin-top:30px;}

.xans-product-additional .board_title {display:flex;justify-content:space-between;align-items:center;}
.xans-product-additional .board_title .ec-base-button {margin:0;}
.xans-product-additional .board_title .ec-base-button a {padding:8px 12px;font-size:11px;}

.xans-product-additional .brdArea span.comment {display:inline-block;margin:0 5px 0 0;vertical-align:middle;font-size:11px;color:var(--idio-font-color);}
.xans-product-additional .brdArea p.comment {font-size:13px;}
.xans-product-additional .brdArea .minor {padding:56px 0;color:#6d6d6d;line-height:14px;text-align:center;}
.xans-product-additional .brdArea .minor p:first-child img {margin:-11px 8px 0 0;vertical-align:top;}
.xans-product-additional .brdArea .minor .button {margin:-7px 0 0;}
.xans-product-additional .brdArea .view {position:relative;z-index:1;overflow:hidden;margin-top:-1px;font-size:14px;line-height:1.6;text-align:left;color:var(--idio-font-color);}
.xans-product-additional .brdArea .view .attach img {margin-bottom:24px;max-width:100%;height:auto;}
.xans-product-additional .brdArea .view .alert {margin:0 0 10px;} 
.xans-product-additional .noAccess,
.xans-product-additional .nodata {padding:56px 0;font-size:13px;text-align:center;color:var(--idio-font-color);opacity:0.7;}

/* Q&A 게시판 */
.prd_qna td.subject img {margin-left:5px;}

.xans-product-additional .btnNormal em {font-style:normal;}
.xans-product-additional .btnNormal .icon.icoArrowBottom {font-size:11px;vertical-align:top;margin:0 0 0 15px;}
.xans-product-additional .boardComment {background:var(--idio-fa-color);}
.xans-product-additional .boardComment li {position:relative;overflow:hidden;border-top:1px solid #e0e0e0;text-align:left;line-height:14px;}
.xans-product-additional .boardComment li:before {content:"";position:absolute;display:inline-block;overflow:hidden;width:9px;height:11px;border-left:1px solid #a7a7a7;border-bottom:1px solid #a7a7a7;}
.xans-product-additional .boardComment .commentInfo > * {display:inline;vertical-align:bottom;line-height:17px;}
.xans-product-additional .boardComment .commentInfo .name {font-size:13px;font-weight:500;color:var(--idio-font-color);vertical-align:2px;}
.xans-product-additional .boardComment .commentInfo .date {margin:0 15px;font-size:12px;color:#777;letter-spacing:0;}
.xans-product-additional .boardComment .comment {margin:17px 0 0;line-height:1.5;word-break:break-all;}
.xans-product-additional .boardComment .replyArea {margin:-1px 0 0;border-top:1px solid #e0e0e0;background:var(--idio-f6-color);}
.xans-product-additional .boardComment .replyArea .commentSecret {margin-right:30px;}
.xans-product-additional .boardComment .grade {display:none !important;}
.xans-product-additional .memoCont {text-align:left;border-top:1px solid var(--idio-e8-color);background:var(--idio-f6-color);}
.xans-product-additional .writeForm {position:relative;border:1px solid #a7a7a7;background:#fff;}
.xans-product-additional .writeForm:before {content:"";position:absolute;display:inline-block;overflow:hidden;width:9px;height:11px;border-left:1px solid #a7a7a7;border-bottom:1px solid #a7a7a7;}
.xans-product-additional .writeForm textarea {width:100%;height:148px;border-bottom:1px solid #e0e0e0;}
.xans-product-additional .writeForm .name {display:inline-block;}
.xans-product-additional .writeForm .password {display:inline-block;}
.xans-product-additional .writeForm .ctrl:after {content:"";display:block;clear:both;}
.xans-product-additional .writeForm .ctrl .button {float:right;}
.xans-product-additional .writeForm .ctrl .secret label {margin:0;}
.xans-product-additional .memoCont .byteRating {display:flex;justify-content:space-between;margin:20px 0 0;}
.xans-product-additional .memoCont .byteRating em {font-style:normal;}
.xans-product-additional .memoCont .captcha {border-top:1px solid #e0e0e0;}
.xans-product-additional .memoCont .captcha img {vertical-align:middle;}
.xans-product-additional .memoCont .captcha input {margin:0 10px 0 20px;font-size:12px;}

.xans-product-additional .commentSecret {margin:20px 0 0;}

@media all and (max-width:1420px) {
	.xans-product-additional {padding-bottom:70px;}
}
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-product-additional {padding-bottom:24px;}
    .ec-base-fold .info {margin:0 16px;}
    #product-review-read td,
	#product-qna-read td {width:100%;}
	
	.xans-product-additional .brdArea .ec-base-table table td.subject a {font-size:13px;}
	.xans-product-additional .brdArea .ec-base-table table td.subject img {max-height:12px;vertical-align:-2px;}
	.xans-product-additional .brdArea .ec-base-table table td.info {font-size:11px;}
	
	.xans-product-additional .brdArea .ec-base-table table td.subject .badge {display:inline-block;font-size:11px;margin-right:2px;}
    .xans-product-additional .brdArea .ec-base-table table td.subject .badge img {margin-right:0;}
	.xans-product-additional .brdArea .ec-base-table table td.info {font-size:11px;}
	.xans-product-additional .brdArea .ec-base-table table td.cate {display:block;float:none;font-size:11px;}
	.xans-product-additional .brdArea .ec-base-table table td.point img {height:15px;}
	
    .xans-product-additional .brdArea .view {padding:16px 16px 0;font-size:12px;}
    .xans-product-additional .brdArea .view.secret {padding-bottom:25px;}
    .xans-product-additional .brdArea .view .ec-base-button {margin:20px 0;}
    .xans-product-additional .brdArea .view .ec-base-button a {font-size:11px;}
	.xans-product-additional .brdArea span.comment {font-size:10px;}
	.xans-product-additional .brdArea p.comment {font-size:12px;}
	
    .xans-product-additional .boardComment li {padding:25px 25px 0 36px;}
    .xans-product-additional .boardComment li:before {top:24px;left:17px;}
    .xans-product-additional .boardComment .ec-base-button {margin:20px 0;}
    .xans-product-additional .boardComment .replyArea {padding:26px 26px 30px 58px;}
    .xans-product-additional .boardComment .replyArea:before {left:36px;}
	.xans-product-additional .boardComment .commentInfo .name {font-size:12px;}
	.xans-product-additional .boardComment .commentInfo .date {font-size:11px;}
    .xans-product-additional .memoCont {margin:20px -16px 0;padding:25px 0 0;}
	.xans-product-additional .writeForm {position:relative;margin:0 16px 55px 36px;}
	.xans-product-additional .writeForm:before {top:-2px;left:-20px;}
	.xans-product-additional .writeForm .infoForm {display:flex;padding:10px 5px;}
	.xans-product-additional .writeForm .infoForm p {flex:1;margin:0 5px;}
	.xans-product-additional .writeForm .infoForm .label {display:block;margin:0 0 7px;color:#a7a7a7;}
	.xans-product-additional .writeForm .infoForm input {width:100%;}
	.xans-product-additional .writeForm .ctrl {position:absolute;bottom:-55px;left:-20px;right:0;line-height:45px;}
	.xans-product-additional .writeForm .ctrl a {color:#fff;}
    .xans-product-additional .memoCont .byteRating {padding:16px;}
    .xans-product-additional .memoCont .captcha {padding:16px;}
    .xans-product-additional .memoCont.reply {margin-left:-36px;}
	
	.xans-product-additional .noAccess,
	.xans-product-additional .nodata {font-size:12px;}
	
	/* board */
	.xans-product-additional .brdArea .btn_arr {font-size:11px;}
	.xans-product-additional .brdArea .contents > .ec-base-button [class^='btn'] {font-size:11px;padding:12px 24px;}
	.xans-product-additional .brdArea .ec-base-paginate.typeList {margin-top:20px;}
	.xans-product-additional .brdArea span.comment {font-size:10px;}
	.xans-product-additional .brdArea p.comment {font-size:12px;}

	/* menu */
	.xans-product-additional ul.menu {padding:70px 0 45px;}
	.xans-product-additional ul.menu li {padding:0 12px;}
	.xans-product-additional ul.menu li a {font-size:12px;}
	.xans-product-additional ul.menu li.selected a:after {top:-8px;}
	.xans-product-additional ul.menu li a > span {font-size:10px;min-width:16px;line-height:16px;margin-left:4px;vertical-align:1px;padding:1px 4px 0 3px;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-additional {margin:20px 0 0;}
    .ec-base-fold .info {padding-right:45px;}
    .xans-product-additional .brdArea .view {padding:35px 35px 0;}
    .xans-product-additional .brdArea .view.secret {padding-bottom:25px;}
	
    .xans-product-additional .boardComment li {padding:25px 25px 25px 50px;}
    .xans-product-additional .boardComment li:before {top:24px;left:25px;}
    .xans-product-additional .boardComment .ec-base-button {margin:20px 0 0;}
    .xans-product-additional .boardComment .replyArea {padding:26px 26px 30px 75px;}
    .xans-product-additional .boardComment .replyArea:before {left:50px;}
    .xans-product-additional .memoCont {margin:20px -25px 0;padding:25px 25px 25px 50px;}
    .xans-product-additional .memoCont.reply {margin-left:-50px;padding-bottom:0;}
	.xans-product-additional .writeForm {display:flex;flex-wrap:wrap;}
	.xans-product-additional .writeForm:before {top:-2px;left:-26px;}
	.xans-product-additional .writeForm .commentForm {width:100%;}
	.xans-product-additional .writeForm .infoForm {padding:13px 0 13px 19px;}
	.xans-product-additional .writeForm .infoForm input {width:200px;margin:0 20px 0 10px;}
	.xans-product-additional .writeForm .ctrl {flex:1;padding:14px 20px 0 0;line-height:40px;}
    .xans-product-additional .memoCont .captcha {margin:20px 0 0;padding:20px 0 0;}
    .xans-product-additional .memoCont .captcha .ec-base-help {display:inline;}
}