.xans-product-menupackage .menuCategory {position:relative;text-align:center;font-size:0;line-height:0;margin-top:16px;}
.xans-product-menupackage .menuCategory > li {display:inline-block;font-size:0;line-height:0;margin:4px;opacity:0.6;transition:all 0.3s ease;}
.xans-product-menupackage .menuCategory > li .button {display:block;font-size:12px;color:var(--idio-font-color);line-height:1;font-weight:normal;padding:11px 14px;background-color:var(--idio-f3-color);border-radius:5px;cursor:pointer;}
.xans-product-menupackage .menuCategory > li:hover {opacity:1;}
.xans-product-menupackage .menuCategory > li .button .count {color:#777;font-weight:300;margin-left:3px;}
.xans-product-menupackage .menuCategory > li.selected .button {color:#fff;background-color:var(--idio-theme-color);}
.xans-product-menupackage .menuCategory > li.selected .button .count {color:#fff;}

/********************* Mobile *********************/
@media all and (max-width:1024px) {
    .xans-product-menupackage .gInner {margin:0 16px;}
	.xans-product-menupackage .menuCategory {margin-top:10px;}
	.xans-product-menupackage .menuCategory > li {margin:3px;}
	.xans-product-menupackage .menuCategory > li:after {height:8px;margin:0 12px;}
	.xans-product-menupackage .menuCategory > li .button {font-size:10px;padding:10px 14px;}
	.xans-product-menupackage .menuCategory > li .button .count {margin-left:2px;}
}

/********************* Tablet *********************/
@media all and (min-width:1025px) {
    .xans-product-menupackage .gInner {margin:0 24px;}
}