.bbsArea1 {width:100%;position:relative;}
.bbsArea1 .imgLink img {border-radius:12px;-webkit-transition:all 0.3s;-khtml-transition:all 0.3s ease;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.bbsArea1 .swiper-slide:hover .imgLink img {filter:brightness(103%);}
.bbsArea1 .swiper-slide:hover .btn_more.st_ul i {font-size:9px;margin-left:3px;opacity:0.7;}
.bbsArea1 .contArea {position:relative;min-height:200px;}
.bbsArea1 .boardChk {display:none;}
.bbsArea1 .info {display:block;padding:20px 10px 0;text-align:center;cursor:pointer;}
.bbsArea1 .info * {line-height:1.5;vertical-align:middle;}
.bbsArea1 .cate {font-size:13px;font-weight:normal;color:#777;padding-bottom:1px;}
.bbsArea1 .subject {display:block;margin:8px 0;}
.bbsArea1 .subject a {display:block;font-size:18px;line-height:1.5;font-weight:500;letter-spacing:-.05em;white-space:break-spaces;}

@media all and (max-width:1024px) {
	.bbsArea1 .cate {font-size:11px;}
	.bbsArea1 .subject {display:block;margin:6px 0;}
	.bbsArea1 .subject a {font-size:14px;}
}