.xans-coupon-join {overflow:hidden;padding:50px 0 30px;text-align:center;max-width:720px;margin:0 auto;}
.xans-coupon-join .couponSkinArea {text-align:center;width:calc(100% + 20px);margin-left:-10px;}
.xans-coupon-join .couponSkinArea ul {display:flex;justify-content:center;flex-wrap:wrap;padding:0;margin:0 auto;}
.xans-coupon-join .couponSkinArea ul li {list-style:none;padding:10px;box-sizing:border-box;flex:33.333%;max-width:33.333%;}
.xans-coupon-join .couponSkinArea .coupon {width:100%;aspect-ratio:216 / 105;text-align:center;background-repeat:no-repeat;background-size:cover;}
.xans-coupon-join .couponSkinArea .coupon .title {font-size:10px;line-height:15px;padding-top:8px;}
.xans-coupon-join .couponSkinArea .coupon .discount {font-size:18px;line-height:28px;font-weight:bold;margin:5px 0;}
.xans-coupon-join .couponSkinArea .coupon .discount span {font-size:22px;}
.xans-coupon-join .couponSkinArea .coupon .period {font-size:11px;line-height:13px;font-weight:bold;}
.xans-coupon-join .couponSkinArea .imgCoupon .title,
.xans-coupon-join .couponSkinArea .imgCoupon .discount,
.xans-coupon-join .couponSkinArea .imgCoupon .period,
.xans-coupon-join .couponSkinArea .imgCoupon .button {display:none;}

@media (max-width:640px) {
	.xans-coupon-join .couponSkinArea ul li {flex:50%;max-width:50%;}
}

@media (max-width:320px) {
	.xans-coupon-join .couponSkinArea ul li {flex:100%;max-width:100%;}
}