.xans-coupon-productdetailajax {clear:both;overflow:hidden;}
.xans-coupon-productdetailajax > .title {position:relative;}
.xans-coupon-productdetailajax > .title h2 {font-size:18px;color:var(--idio-font-color);font-weight:normal;line-height:39px;}
.xans-coupon-productdetailajax > .title .button {padding:0 0 0 7px;}

.xans-coupon-productdetailajax .couponSkinArea {padding:0 0 25px;}
.xans-coupon-productdetailajax .couponSkinArea ul {margin:0 auto;padding:0;text-align:center;}
.xans-coupon-productdetailajax .couponSkinArea ul:after {content:"";display:block;clear:both;}
.xans-coupon-productdetailajax .couponSkinArea ul li {padding:0;list-style:none;}
.xans-coupon-productdetailajax .couponSkinArea .coupon {width:216px;height:105px;margin-bottom:20px;font-size:12px;line-height:1.5;text-align:center;background-repeat:no-repeat;}
.xans-coupon-productdetailajax .couponSkinArea .coupon img {border:0;}
.xans-coupon-productdetailajax .couponSkinArea .coupon p {margin:0;padding:0;}
.xans-coupon-productdetailajax .couponSkinArea .coupon .title {display:block;padding:8px 0 0;font-size:10px;line-height:15px;text-align:center;font-weight:normal;}
.xans-coupon-productdetailajax .couponSkinArea .coupon .discount {font-size:18px;line-height:28px;font-weight:bold;text-align:center;text-decoration:none;letter-spacing:-1px;}
.xans-coupon-productdetailajax .couponSkinArea .coupon .discount span {font-size:22px;}
.xans-coupon-productdetailajax .couponSkinArea .coupon .period {font-size:11px;line-height:13px;font-weight:bold;text-align:center;letter-spacing:-1px;}
.xans-coupon-productdetailajax .couponSkinArea .coupon .button {margin:5px 0 0;text-align:center;}
.xans-coupon-productdetailajax .couponSkinArea .imgCoupon .title,
.xans-coupon-productdetailajax .couponSkinArea .imgCoupon .discount,
.xans-coupon-productdetailajax .couponSkinArea .imgCoupon .period,
.xans-coupon-productdetailajax .couponSkinArea .imgCoupon .button {display:none;}
.xans-coupon-productdetailajax .couponSkinArea .imgCoupon .detail {height:100%;}
.xans-coupon-productdetailajax .couponSkinArea .discount {text-decoration:none;}
.xans-coupon-productdetailajax .button {text-align:center;}

#dCouponDetail {z-index:1001;overflow:hidden;position:fixed;top:50% !important;left:0 !important;right:0;margin:0 auto;width:398px;border:1px solid #333;background:#fff;transform:translateY(calc(-50% + 0.5px));}
#dCouponDetail h3 {height:60px;margin:0 20px;padding:20px 0;font-size:16px;box-sizing:border-box;border-bottom:1px solid var(--idio-e8-color);}
#dCouponDetail h3 + a {position:absolute;right:20px;top:20px;}
#dCouponDetail ul {padding:16px 10px 17px 20px;margin:25px 19px;background:var(--idio-f5-color);}
#dCouponDetail ul li {margin:7px 0 0;color:var(--idio-font-color);line-height:18px;}
#dCouponDetail ul li:first-child {margin-top:0;}
#dCouponDetail ul + a {display:block;padding:12px 0;text-align:center;border-top:1px solid #d7d7d7;background:var(--idio-fa-color);}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
  .xans-coupon-productdetailajax {margin:50px 0;}
  .xans-coupon-productdetailajax .couponSkinArea ul li {margin:15px 5px 0;}
  .xans-coupon-productdetailajax .couponSkinArea .coupon {margin:0 auto;}
  
  #dCouponDetail {width:88%;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
  .xans-coupon-productdetailajax {margin:100px 0 0;}
  .xans-coupon-productdetailajax .couponSkinArea ul li {display:inline;float:left;width:216px;}
  .xans-coupon-productdetailajax .couponSkinArea ul.grid1 {width:216px;}
  .xans-coupon-productdetailajax .couponSkinArea ul.grid2 {width:472px;}
  .xans-coupon-productdetailajax .couponSkinArea ul.grid2 li {margin:0 10px;}
  .xans-coupon-productdetailajax .couponSkinArea ul.grid3 {width:708px;}
  .xans-coupon-productdetailajax .couponSkinArea ul.grid3 li {margin:0 10px;}
}