.boardMain {overflow:hidden;*zoom:1;margin-bottom:35px;}
.boardMain td img {vertical-align:middle;margin:1px;}
.boardMain .board {position:relative;margin:0;border-radius:15px;}
.boardMain .leftArea {float:left;width:50%;}
.boardMain .leftArea .board {margin:0 23px 0 0;}
.boardMain .rightArea {float:right;width:50%;}
.boardMain .rightArea .board {margin:0 0 0 23px;}
.boardMain .board h3 {height:34px;font-size:14px;font-weight:normal;text-transform:uppercase;border-bottom:1px solid var(--idio-e8-color);line-height:28px;}
.boardMain .board .more {position:absolute;top:0;right:0;font-size:12px;font-weight:normal;text-transform:uppercase;}
.boardMain .board .ec-base-table table {margin:0;}
.boardMain .board .ec-base-table.typeList td {color:#555;}
.boardMain .board .ec-base-table.typeList td.tit {padding:0;vertical-align:middle;line-height:20px;}
.boardMain .board .ec-base-table.typeList td.tit a,
.boardMain .board .ec-base-table.typeList td.tit a:hover {font-size:14px;line-height:20px;color:#555;}
.boardMain .board .ec-base-table.typeList td.right {font-size:12px;color:#aaa;line-height:20px;}
.boardMain .board .galleryList {overflow:hidden;}
.boardMain .board .galleryList ul {overflow:hidden;margin-top:10px;}
.boardMain .board .galleryList li {position:relative;width:18.8%;margin-right:1.5%;word-break:break-all;}
.boardMain .board .galleryList li:nth-child(5n) {margin-right:0;}
.boardMain .board .galleryList li .imgLink {display:block;}
.boardMain .board .galleryList li .imgLink img {width:100%;height:125px;}
.boardMain .board .galleryList li .imgLink span {display:block;}
.boardMain .board .galleryList li .imgLink .subject {font-size:14px;color:var(--idio-font-color);line-height:19px;margin-top:8px;}
.boardMain .board .galleryList li .imgLink .date {font-size:12px;color:#aaa;line-height:24px;}