.xans-board-title p.imgArea {margin:0 0 20px;}

.ec-base-box + #BoardDelForm .ec-base-table {border-top:0;}
.xans-board-read .ec-base-table .head {padding:36px 0 40px;border-bottom:1px solid var(--idio-e8-color);text-align:center;}
.xans-board-read .ec-base-table .head h3 {font-size:17px;font-weight:500;}
.xans-board-read .ec-base-table .head .point {display:none;font-size:0;line-height:0;}
.xans-board-read .ec-base-table .head .point img {margin-bottom:7px;}
.xans-board-read .ec-base-table .head .adminAnswer {padding:2px 0 7px;}
.xans-board-read .ec-base-table .head .adminAnswer img {margin:0 1px;}
.xans-board-read .ec-base-table .description {margin:8px 0 0;font-size:0;line-height:0;}
.xans-board-read .ec-base-table .description > * {vertical-align:middle;}
.xans-board-read .ec-base-table .description span {font-size:12px;line-height:1.5;color:#6d6d6d;}
.xans-board-read .ec-base-table .description img {max-height:17px;width:auto;}
.xans-board-read .ec-base-table .description .name {display:inline-block;margin:0 8px;}
.xans-board-read .ec-base-table .etcArea {display:inline-block;font-size:0;line-height:0;}
.xans-board-read .ec-base-table .etcArea li {display:inline-block;padding:0 8px;vertical-align:middle;color:#6d6d6d;}
.xans-board-read .ec-base-table .etcArea li a {text-decoration:none;}
.xans-board-read .ec-base-table .etcArea li img {vertical-align:2px;}
.xans-board-read .ec-base-table .etcArea li span:nth-child(2) {margin-left:3px;}
.xans-board-read .ec-base-table .etcArea li .btnNormal {padding:5px;margin-left:5px;}
.xans-board-read .ec-base-table .detail {padding:40px 30px;word-break:break-all;line-height:normal;}
.xans-board-read .ec-base-table .detail .fr-view {font-size:14px;margin-top:20px;}
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul {margin:15px 0;padding:0 0 0 40px;}
.xans-board-read .ec-base-table .detail ol li {list-style:decimal;}
.xans-board-read .ec-base-table .detail ul li {list-style:disc;}
.xans-board-read .ec-base-table .detail img {max-width:100%;height:auto;}
.xans-board-read .ec-base-table .detail > img {margin-bottom:10px;}
.xans-board-read .ec-base-table .attach {position:relative;padding:30px 0;text-align:right;}
.xans-board-read .ec-base-table .attach a {padding:0;color:#6d6d6d;font-size:12px;margin-left:5px;}
.xans-board-read .ec-base-table .attach a:first-child {padding-left:20px;background:url("//img.echosting.cafe24.com/skin/skin/board/icon-file.svg") no-repeat 0 0;background-size:14px auto;margin-left:0;}

.xans-board-product .ec-base-box.typeProduct {margin:0 0 40px;}
.xans-board-product .information h3 {margin:0 0 6px;padding:0 120px 0 0;font-size:13px;font-weight:500;}
.xans-board-product .information .price {font-size:12px;}
.xans-board-product #sPrdCommonImg {position:absolute;top:0;right:0;width:100px;text-align:right;}
.xans-board-product .information .button {margin:15px 0 0;}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-board-read .ec-base-table .head {padding:26px 16px;}
	.xans-board-read .ec-base-table .head h3 {font-size:14px;padding:0 16px;}
	.xans-board-read .ec-base-table .description {margin:6px 0 0;}
	.xans-board-read .ec-base-table .description span {font-size:11px;}	
	.xans-board-read .ec-base-table .detail .fr-view {font-size:13px;margin-top:15px;}
	.xans-board-read .ec-base-table .attach {padding:20px 0;}
	.xans-board-product .information h3 {font-size:12px;}
}
