.xans-layout-conversionpc {background-color:var(--idio-bg-color);padding:45px;text-align:center;}
.xans-layout-conversionpc a {
    margin:20px;padding:20px 40px;
    font-size:68px;color:#63666e;text-decoration:none;text-align:center;
    border:4px solid #9d9db0;border-radius:10px;
}