.productDetailPopup {display:none;overflow-y:auto;position:fixed;top:0;left:0;height:100%;background-color:var(--idio-bg-color);z-index:120;}
.productDetailPopup h2 {height:38px;line-height:38px;text-align:center;font-size:15px;color:#fff;background:#636363;}

.productDetailInfo h2.title {padding:0 20px;line-height:43px;font-size:15px;color:var(--idio-font-color);background-color:var(--idio-bg-color);}
.productDetailInfo img {max-width:100%;}