.xans-project-package .title{margin:40px 0 0;}
.xans-project-package .title h2 {margin:0 0 30px;text-align:center;font-size:20px;color:var(--idio-font-color);}
.xans-project-package .banner {margin:0 0 54px;}
.xans-project-package .banner img {width:100%;}

.xans-product-headcategory + .ec-base-tab {margin:30px 0 0;}
.xans-project-package .menuCategory {margin-top:40px;font-size:0;line-height:0;}
.xans-project-package .menuCategory > li {display:inline-block;margin:0 15px;font-size:12px;line-height:14px;vertical-align:top;}
.xans-project-package .menuCategory > li > a {padding:0 13px 0 0;font-weight:bold;color:var(--idio-font-color);}
.xans-project-package .menuCategory > li > a:hover {color:var(--idio-font-color);text-decoration:none;}
.xans-project-package .menuCategory > li .count {font-weight:normal;}

.xans-project-list + .xans-project-list {border:0;}
.xans-project-list h3 {margin:50px 0 35px;font-weight:normal;font-size:18px;color:var(--idio-font-color);text-align:left;}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-project-package .title {margin:0;}
    .xans-project-package .banner {margin-bottom:40px;}
    .xans-project-package .title h2 {font-size:22px;}
    .xans-project-list {margin:0 16px;}
    .xans-project-list h3 {margin:40px 0 20px;font-size:16px;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-project-list {margin:0 24px;border-top:1px solid var(--idio-e8-color);}
}