.relation {position:relative;overflow:hidden;margin-top:40px;}
.relation .xans-product-recentlist .xans-product-listitem {border:0 !important;}

.relation ul.prdList {text-align:center;font-size:0;line-height:0;padding:0;}
.relation ul.prdList li.item {position:relative;}
.relation ul.prdList li.item .box {width:100%;}
.relation ul.prdList li.item .box * {outline:0;}
.relation ul.prdList li.item .box .info {display:none;width:100%;height:65px;position:absolute;bottom:-80px;left:0;text-align:center;transition:all 0.3s ease;}
.relation ul.prdList li.item .box .name {margin-top:12px;}
.relation ul.prdList li.item .box .name a {display:block;font-size:14px;line-height:1.5;text-align:center;font-weight:500;white-space:normal;word-break:keep-all;}
.relation ul.prdList li.item .box .info > ul {display:flex;justify-content:center;margin-top:5px;}
.relation ul.prdList li.item .box .info > ul li {margin:0 2px;}
.relation ul.prdList li.item .box .info > ul li,
.relation ul.prdList li.item .box .info > ul li * {font-size:12px;line-height:1.5;}
.relation ul.prdList li.item .box .info strong {display:block;font-weight:normal;}
.relation ul.prdList li.item .box .info .strike {font-weight:normal;text-decoration:line-through;}
.relation ul.prdList li.item .box .thumb {width:100%;height:auto;margin:0;}

.relation div[class*='swiper-button'] {transform:scale(0.7);}
.relation .swiper-button-prev {transform-origin:0 50%;}
.relation .swiper-button-next {transform-origin:100% 50%;}

@media all and (max-width:1024px) {
	.relation h2 {margin:0 0 30px;font-size:22px;}
	.relation ul.prdList li.item .box .name a {font-size:12px;line-height:19px;}
	.relation ul.prdList li.item .box .info ul li,
	.relation ul.prdList li.item .box .info ul li * {font-size:11px;}
}

@media all and (min-width:1025px) {
	.relation h2 {margin:0 0 50px;font-size:30px;}
	.relation .prdList .hidden {display:none;}
}
