.xans-board-catemove {padding:10px 0;border-top:1px solid var(--idio-e8-color);margin-top:30px;}
.xans-board-catemove .gColumn {display:inline-block;margin:10px;}
.xans-board-catemove #board_category_move {margin:0 8px;}
.xans-board-catemove select {width:138px;}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-catemove .gColumn:first-of-type {margin-left:0;}
}