.xans-board-title p.imgArea {margin:0 0 20px;}

.xans-board-memowrite-1001 {margin:0 0 20px;padding:11px 20px 5px;border:5px solid var(--idio-e8-color);background-color:var(--idio-fb-color);font-size:12px;color:var(--idio-font-color);}
.xans-board-memowrite-1001 legend {visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.xans-board-memowrite-1001 .input {margin:0 0 10px;}
.xans-board-memowrite-1001 .input .ec-base-help {margin:5px 0 0;}
.xans-board-memowrite-1001 p {position:relative;margin:0 0 10px;padding:0 96px 0 0;}
.xans-board-memowrite-1001 p.captcha {border-top:1px solid var(--idio-e8-color);padding:15px 0 0 0;color:#757575;}
.xans-board-memowrite-1001 p.captcha img {vertical-align:middle;}
.xans-board-memowrite-1001 input[type=text],
.xans-board-memowrite-1001 input[type=password] {width:135px;margin:0 20px 0 10px;}
.xans-board-memowrite-1001 textarea {width:100%;height:42px;padding:2px 2px 2px 4px;}
.xans-board-memowrite-1001 input#captcha {width:160px;}
.xans-board-memowrite-1001 p a {position:absolute;top:0;right:0;}
.xans-board-memowrite-1001 .secret {line-height:26px;}
.xans-board-memowrite-1001 .secret label {margin:0;}

.memoList {border-top:1px solid var(--idio-e8-color);}
.memoList .memoArea {position:relative;overflow:hidden;border:1px solid var(--idio-e8-color);border-top:none;color:var(--idio-font-color);}
.memoList .memoArea > p,
.memoList .memoArea .reply > p {padding:12px 20px 7px;}
.memoList .memoArea .name {float:left;font-weight:bold;}
.memoList .memoArea .date,
.memoList .memoArea .ip {margin:0 15px;font-weight:normal;font-size:11px;}
.memoList .memoArea .ip {margin-left:0;}
.memoList .memoArea .memo {clear:both;border-top:1px solid var(--idio-e8-color);padding:15px 0 10px 30px;}
.memoList .memoArea .ec-base-button .text {}
.memoList .memoArea .btn {position:absolute;top:-7px;right:0;}
.memoList input[type=text],
.memoList input[type=password] {width:135px;margin:0 20px 0 10px;}
.memoList input#captcha {width:160px;}
.memoList .secret {line-height:26px;}
.memoList .secret label {margin:0;}

.memoList .memoArea .replyModify {margin:10px 20px 10px;padding:8px 21px 0;border:1px solid var(--idio-e8-color);background-color:var(--idio-fb-color);color:var(--idio-font-color);}
.memoList .memoArea .replyModify .input {margin:0 0 10px;}
.memoList .memoArea .replyModify .input .ec-base-help {margin:5px 0 0;padding:1px 0 1px 20px;}
.memoList .memoArea .replyModify p {position:relative;margin:0 0 10px;padding:0;}
.memoList .memoArea .replyModify p.modify {padding-right:180px;}
.memoList .memoArea .replyModify p.captcha img {vertical-align:middle;}
.memoList .memoArea .replyModify textarea {width:100%;height:42px;padding:2px 2px 2px 4px;}
.memoList .memoArea .replyModify .modify .submit {position:absolute;top:0;right:0;}
.memoList .memoArea .commentView {margin:0 20px 15px;padding:10px 15px;border:1px solid var(--idio-e8-color);background-color:var(--idio-fb-color);color:var(--idio-font-color);}

.memoList .replyWrap {position:relative;margin:0 0 15px 0;}
.memoList .reply {position:relative;overflow:hidden;margin:-1px 20px 0;padding:0 0 0 13px;border:1px solid var(--idio-e8-color);}
.memoList .reply .name {font-size:11px;}
.memoList .reply .memo {border:0 none;padding:0 0 7px 22px;}