.xans-myshop-orderhistoryapplycancel .order {position:relative;}
.xans-myshop-orderhistoryapplycancel .order__number {overflow:hidden;padding:20px 0 20px 15px;font-size:13px;background-color:var(--idio-f6-color);border-top:1px solid #333;}
.xans-myshop-orderhistoryapplycancel .order__number .date {font-weight:bold;}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeList .xans-myshop-products .multiDelivery{background-color:var(--idio-fa-color);vertical-align:middle;padding:10px 20px 10px 40px;}
.xans-myshop-orderhistoryapplycancel .ec-base-table.typeList .xans-myshop-products .multiDelivery .inner{display:flex;align-items:center;}
.xans-myshop-orderhistoryapplycancel .ec-base-table.typeList .xans-myshop-products .multiDelivery .address{flex:1;display:block;padding-right:20px;}
.xans-myshop-orderhistoryapplycancel .ec-base-table.typeList .xans-myshop-products .multiDelivery .waybill{flex:none;display:inline-block;}

/* Write */
.xans-myshop-orderhistoryapplycancel textarea {width:100%;}
.itemAddInfo input {width:100%;}

.xans-myshop-orderhistoryapplycancel p.ec-base-help {margin:10px 0 0;}