.xans-order-linkoninfo {margin:30px 0;padding:39px 0 37px 250px;min-height:65px;border:1px solid var(--idio-e8-color);background:var(--idio-f6-color);url("//img.echosting.cafe24.com/design/skin/default/order/ico_linkon.gif") no-repeat 155px 43px;}
.xans-order-linkoninfo h3 {color:var(--idio-font-color);font-size:15px;}
.xans-order-linkoninfo h3 span {color:var(--idio-font-color);}
.xans-order-linkoninfo ul {margin:10px 0 0;color:var(--idio-font-color);font-size:11px;}
.xans-order-linkoninfo li {padding:7px 0 0 7px;background:url("//img.echosting.cafe24.com/design/skin/default/order/ico_naver_help.gif") no-repeat 0 10px;}
.xans-order-linkoninfo li strong {color:var(--idio-font-color);}
.xans-order-linkoninfo li span {color:#8f8f8f;}