/* typeList */
.ec-base-paginate.typeList {height:40px;margin:40px 0;text-align:center;font-size:0;line-height:0;}
.ec-base-paginate.typeList > a {position:relative;display:inline-block;width:36px;line-height:40px;text-align:center;vertical-align:middle;}
.ec-base-paginate.typeList > a::after,
.ec-base-paginate.typeList > a::before {position:absolute;display:block;font-size:9px;line-height:1;top:50%;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);left:9px;}
.ec-base-paginate.typeList > a::after {margin:0 6px;}
.ec-base-paginate.typeList > a::after,
.ec-base-paginate.typeList > a:first-child::before,
.ec-base-paginate.typeList > a:last-child::before {content:'＞';}
.ec-base-paginate.typeList > a:first-child::before,
.ec-base-paginate.typeList > a:last-child::before {margin:0;}
.ec-base-paginate.typeList > a:first-child::after,
.ec-base-paginate.typeList > a:first-child::before,
.ec-base-paginate.typeList > a:first-child + a::after {content:'＜';}
.ec-base-paginate.typeList ol {display:inline-block;font-size:0;line-height:0;vertical-align:middle;margin:0 6px;}
.ec-base-paginate.typeList li {display:inline-block;vertical-align:middle;}
.ec-base-paginate.typeList li:first-child {margin-left:0;}
.ec-base-paginate.typeList img {vertical-align:middle;}
.ec-base-paginate.typeList li a {display:block;width:40px;font-size:12px;color:#aaa;line-height:40px;border-radius:50%;}
.ec-base-paginate.typeList a:hover {text-decoration:none;}
.ec-base-paginate.typeList a.this {position:relative;z-index:1;color:#555;font-weight:500;background-color:var(--idio-f5-color);}
.ec-base-paginate.typeList a.nolink {cursor:default;}
/* typeSwipe */
.ec-base-paginate.typeSwipe {text-align:center;}
.ec-base-paginate.typeSwipe > span {font-size:0;line-height:0;}
.ec-base-paginate.typeSwipe .prev, .ec-base-paginate.typeSwipe .next{display:none;}
.ec-base-paginate.typeSwipe [id*='swipe-button'] button {display:inline-block;opacity:1 !important;width:4px !important;height:4px !important;margin:8px 10px !important;border-radius:50%;background-color:rgba(100,100,100,0.6);cursor:pointer;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;vertical-align:middle;}
.ec-base-paginate.typeSwipe [id*='swipe-button'] button:hover {background-color:#555;}
.ec-base-paginate.typeSwipe [id*='swipe-button'] button.selected {width:12px !important;height:12px !important;margin:4px 6px !important;cursor:default;background-color:#555;}

@media all and (max-width:1024px) {
	.ec-base-paginate.typeList li a {font-size:12px;}
	.ec-base-paginate.typeSwipe [id*='swipe-button'] button {zoom:0.8;}
}

@media all and (max-width:640px) {
	.ec-base-paginate.typeList {height:32px;margin:20px 0 10px;}
	.ec-base-paginate.typeList > a {margin:0;width:24px;line-height:32px;}
	.ec-base-paginate.typeList > a::after,
	.ec-base-paginate.typeList > a::before {font-size:7px;left:5px;}
	.ec-base-paginate.typeList > a::after,
	.ec-base-paginate.typeList > a:first-child::before,
	.ec-base-paginate.typeList > a:last-child::before {width:4px;height:4px;}
	.ec-base-paginate.typeList li a {font-size:11px;width:32px;line-height:32px;}
	.ec-base-paginate.typeSwipe [id*='swipe-button'] button {margin-left:8px !important;margin-right:8px !important;}
	.ec-base-paginate.typeSwipe [id*='swipe-button'] button.selected {margin-left:4px !important;margin-right:4px !important;}
}