<!DOCTYPE html>
<html lang="ko">
 <head>
<!--카페24PRO 로케일 팝업 스크립트-->
<script src="https://procomms.cafe24.com/web/upload/cafe24pro_locale_popup.js"></script>

  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="telephone=no" name="format-detection">
   <meta charset="utf-8"/>
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" name="viewport"/>
   <!-- PG크로스브라우징필수내용 -->
   <meta content="no-cache" http-equiv="Cache-Control">
    <meta content="0" http-equiv="Expires">
     <meta content="no-cache" http-equiv="Pragma"/>
     <!-- // PG크로스브라우징필수내용 -->
     <title>
     </title>
     <!--@css(/layout/basic/css/common.css)-->
     <!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
     <!--@css(/layout/basic/css/layout.css)-->
     <!--@css(/layout/basic/css/ec-base-ui.css)-->
     <!--@css(/layout/basic/css/ec-base-button.css)-->
     <!--@css(/layout/basic/css/ec-base-tab.css)-->
     <!--@css(/layout/basic/css/ec-base-table.css)-->
     <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
     <!--@css(/layout/basic/css/ec-base-help.css)-->
     <!--@css(/layout/basic/css/ec-base-fold.css)-->
     <!--@css(/layout/basic/css/ec-base-box.css)-->
     <!--@css(/layout/basic/css/ec-base-desc.css)-->
     <!--@css(/layout/basic/css/ec-base-product.css)-->
     <!--@css(/layout/basic/css/ec-base-prdInfo.css)-->
     <!--@css(/layout/basic/css/ec-base-paginate.css)-->
     <link href="https://fonts.googleapis.com" rel="preconnect"/>
     <link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&amp;display=swap" rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet"/>
     <!-- theme02 -->
     <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet"/>
     <link href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" rel="stylesheet" type="text/css">
      <!-- theme03 -->
      <!--@css(/layout/basic/css/swiper.min.css)-->
      <!--@js(/layout/basic/js/swiper-bundle.min.js)-->
      <!--@js(/js/module/product/sale_price.js)-->
      <!--@js(/layout/basic/js/basic.js)-->
      <!--@js(/layout/basic/js/layout.js)-->
      <!--@js(/js/common.js)-->
      <script>
       try{window.EZST={q:[],register:function(a,b){this.push([a,(b.init||b)(),arguments])}}}catch(e){}
      </script>
      <!--ez-favicon[-->
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/7e5bf2a8ec2d79a4a456aa5882ba07a2.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/537678d7385bd22542132d3b8f69e915.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/47c65ef76d2fff8d05d01e4f68f91c7d.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/0fc4bed9b2448da59a7f261950aa81e6.png">
<link rel="icon" type="image/png" sizes="512x512" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/4ffe9b66af2579aa00d23da74eb3b520.png">
<link rel="icon" type="image/png" sizes="256x256" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/090e8b1073fa04ed9b24b3d900be499a.png">
<link rel="icon" type="image/png" sizes="128x128" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/2777c1b556df89afbd08cad7ad9446ae.png">
<link rel="icon" type="image/png" sizes="64x64" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/97515e015fb41db4d991e0206973a81a.png">
<link rel="icon" type="image/png" sizes="48x48" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/e3912725a1095a83b2963953a2817d5f.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/aa142f7fc7cdb3e19c92a4877a05d9e8.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/45d41e19b4a47793af71ef774dc566a7.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://ecimg.cafe24img.com/pg1897b76367120058/buyong0925/web/upload/NNEditor/20250825/2777c1b556df89afbd08cad7ad9446ae.png">
<meta name="theme-color" content="#ffffff">
<!--ez-favicon]-->

      <!--@js(/ez/init.js)-->
      <script type="text/ez-prop">
       <ez-prop data-version="1.0.0">
<ez-var data-namespace="ez.layout.theme" data-prop="theme" data-type="array">
<ez-item data-background-color="#f4f4f4" data-desc="모던하고 차분한 스타일" data-font="Noto Sans KR" data-font-css="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&amp;display=swap" data-id="theme01" data-name="MODERN" override-value="html">
				모던하고 차분한 스타일
				<style>
					.theme-box.type1 .desc {color:#111;font-weight:400;}
					.theme-box .word {color:#111;}
				</style>
</ez-item>
<ez-item data-background-color="#f6e5dd" data-desc="밝고 화사한 스타일" data-font="Nanum Gothic" data-font-css="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&amp;family=Poppins:wght@300;400;500;600;700&amp;display=swap" data-id="theme02" data-name="LOVELY"></ez-item>
<ez-item data-background-color="#dbe3f6" data-desc="은은하고 부드러운 스타일" data-font="pretendard" data-font-css="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" data-id="theme03" data-name="SOFT"></ez-item>

<ez-item data-background-color="#B4FFF6" data-desc="선택한 브랜드 컨셉을 기반으로 생성된 스타일" data-font="LINESeedKR" data-font-css="https://cafe24img.poxo.com/file.cafe24cos.com/aisg/resources/css/LINESeedKR.css" data-id="theme04" data-name="AI 추천 스타일"></ez-item></ez-var>
</ez-prop>
      </script>
     </link>
    </meta>
   </meta>
  </meta>
  <link href="https://cafe24img.poxo.com/file.cafe24cos.com/aisg/resources/css/LINESeedKR.css" rel="stylesheet"/>
  <link href="https://cafe24img.poxo.com/file.cafe24cos.com/aisg/resources/css/Cafe24Ohsquareair.css" rel="stylesheet"/>
 </head>
 <body class="theme04" data-ez-theme="theme04">
  <div id="skipNavigation">
   <p>
    <a href="#category">
     전체상품목록 바로가기
    </a>
   </p>
   <p>
    <a href="#contents">
     본문 바로가기
    </a>
   </p>
  </div>
  <div id="wrap">
<!--@import(/layout/basic/header.html)-->
<!--@import(/layout/basic/sidebar.html)-->
<div id="container" data-ez="layout-16dqneo-1">
    <div id="contents">
     <span class="RTMB" module="Layout_MobileAction">
      <a href="#none" onclick="{$go_back}">
       <!--@import(/svg/icon-go-back.html)-->
       뒤로가기
      </a>
     </span>
     <!--@contents-->
    </div>
   </div>
<!--@import(/layout/basic/footer.html)-->
<!--#ez="1/15"-->
</div>
  <!-- //wrap -->
  <div id="progressPaybar" style="display:none;">
   <div class="layerProgress" id="progressPaybarBackground">
   </div>
   <div id="progressPaybarView">
    <div class="box">
     <h3>
      현재 결제가 진행중입니다.
     </h3>
     <p class="txt">
      본 결제 창은 결제완료 후 자동으로 닫히며,결제 진행 중에 본 결제 창을 닫으시면
      <br>
      주문이 되지 않으니 결제 완료 될 때 까지 닫지 마시기 바랍니다.
     </p>
     <div class="progressbar">
      <img alt="loading" loading="lazy" src="//img.echosting.cafe24.com/skin/skin/common/img_loading.gif">
     </div>
    </div>
   </div>
  </div>
  <div module="Layout_multishopShipping">
   <!--@css(/layout/basic/css/ec-base-layer.css)-->
   <!--@css(/css/module/layout/multishopShipping.css)-->
   <!--@js(/js/module/layout/multishopShipping.js)-->
   <div class="worldshipLayer ec-base-layer typeModal">
    <div class="header">
     <h3>
      WORLD SHIPPING
     </h3>
    </div>
    <div class="content">
     <p class="desc">
      PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :
     </p>
     <select module="Layout_multishopShippingCountrylist">
      <option value="{$country_code}" {$country_default_selected}>
       SHIPPING TO : {$country_name}
      </option>
      <option value="{$country_code}" {$country_default_selected}>
       SHIPPING TO : {$country_name}
      </option>
     </select>
     <select module="Layout_multishopShippingLanguagelist">
      <option value="{$shop_domain}" {$shop_default_selected}>
       LANGUAGE : {$shop_language_name}
      </option>
      <option value="{$shop_domain}" {$shop_default_selected}>
       LANGUAGE : {$shop_language_name}
      </option>
     </select>
    </div>
    <div class="ec-base-button">
     <a class="btnSubmitFix sizeM" href="#none">
      GO
     </a>
    </div>
    <a class="btnClose" href="#none">
     닫기
    </a>
   </div>
  </div>
  <div class="layer_shadow" id="layer_shadow">
  </div>
  <div class="dimmed" id="layoutDimmed">
  </div>
  <!--@css(/layout/basic/css/sub_style.css)-->
  <!--@css(/layout/basic/css/sub_theme.css)-->
  <!--@css(/layout/basic/css/add_theme01.css)-->
  <!--@css(/layout/basic/css/add_theme02.css)-->
  <!--@css(/layout/basic/css/add_layout.css)-->
  <!--@css(/layout/basic/css/add_theme03.css)-->
 </body>
</html>