/*
	■ 각 컬러별 용도
	idio-font-color :전체 글씨 기본 컬러
	idio-bg-color :전체 배경 컬러

	※ 아래 '#○○○○○○' 자리에 '#'으로 시작하는 6자리 HEX 컬러코드를 입력하세요!
	※ 참고페이지 : https://www.toolo.kr/color-convert/
*/

:root {
  --idio-font-color:#333;
  --idio-bg-color:#fff;
}