.mainBnr {width:100%;height:100vh;overflow:hidden;padding-top:144px;}/*헤더 높이*/

.mainBnr .swiper-slide,
.mainBnr .swiper-slide > a,
.mainBnr .swiper-slide > a > img,
.mainBnr .swiper-slide > img {height:calc(100vh - 144px);}/*헤더 높이*/

.mainBnr .swiper-slide {font-size:0;line-height:0;}
.mainBnr .swiper-slide > a,
.mainBnr .swiper-slide > a > img,
.mainBnr .swiper-slide > img {display:block;object-fit:cover;object-position:center;width:100%;}

.mainBnr .swiper-pagination {bottom:45px;}

.mainBnr div[class*='swiper-button'] {opacity:0 !important;}
.mainBnr .swiper:hover div[class*='swiper-button'] {opacity:0.4 !important;}
.mainBnr .swiper-button-prev {left:7.5% !important;}
.mainBnr .swiper-button-next {right:7.5% !important;}

@media all and (max-width:1024px) {
    .mainBnr {padding-top:105px;}/*헤더 높이*/
	.mainBnr .swiper-slide,
	.mainBnr .swiper-slide > a,
	.mainBnr .swiper-slide > a > img,
	.mainBnr .swiper-slide > img {height:calc(100vh - 105px);}/*헤더 높이*/
}

/*화면폭에 맞게 이미지 교체*/
.mainBnr .swiper-slide a img {display:none;}
.mainBnr.pc .swiper-slide a img.pc {display:block;}
.mainBnr.mo .swiper-slide a img.mo {display:block;}